<script setup>
// 门，光线这类运动元素

import { ref } from 'vue';

const doorBox = ref(null)
const audioDom = ref(null)
const doorDom = ref(null)
const lightDom = ref(null)

// 开门动画
let percentDoor = 0;
const fnOpenDoor = function () {
  percentDoor++;
  // 门完全打开后，进入下一个画面
  if (percentDoor == 100) {
    doorBox.classList.add('active');
    return;
  }
  // 门打开
  // doorDom.style.transform = 'rotateY(' + (-90 * percentDoor / 100) + 'deg)';
  // lightDom.removeAttribute('hidden');
  // 光线变化
  // lightDom.style.opacity = 0.8 - 0.9 * percentDoor / 100;

  setTimeout(fnOpenDoor, 16);
};

const handleOpenDoor = () => {
  audioDom.value.play();
  fnOpenDoor();
};
</script>

<template>
  <div id="doorBox" class="door-box" v-on:click="handleOpenDoor" ref="doorBox">
    <div class="wall">
      <div class="door-frame">
        <!-- 门 -->
        <div id="door" class="door" ref="doorDom">
          <!-- 门后的光线 -->
          <div id="light" class="light" style="opacity: .8;" hidden="" ref="lightDom"></div>
          <!-- 门后 -->
          <div class="door-face-0"></div>
          <!-- 三个面 -->
          <div class="door-face-2"></div>
          <div class="door-face-1">
            <!-- 门上的挂牌 -->
            <div class="door-card">我的书房</div>
            <!-- 进入按钮 -->
            <div class="door-btn">
              <div class="yindao">
                <div class="yindao1"></div>
              </div>
              <p>点击进入</p>
            </div>
          </div>
          <div class="door-face-3"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- 书房 -->
  <div class="room"></div>
  <div hidden>
    <audio id="audioOpen" src="http://qiniu.wallleap.cn/musics/open.mp3" preload ref="audioDom"></audio>
  </div>
</template>

<style scoped>
.door-box {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
  background: url(../assets/imgs/door.png) no-repeat;
  background-size: cover;
  background-color: #E8E4E1;
}

.door-box.active {
  animation: flyIntoRoom 1s both;
}

.door-box div {
  position: absolute;
}

.wall {
  left: 0;
  top: 0;
  right: 0;
  bottom: 46px;
  max-height: calc(1.8 * (375px - 80px));
  margin: auto;
}

.door-border {
  width: 100%;
  height: 100%;
}

.door-frame {
  top: 10px;
  left: 9px;
  right: 9px;
  bottom: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;
}

.door {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: left;
  transform: rotateY(0deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.door-face-1,
.door-face-0 {
  left: -3px;
  top: -3px;
  right: -3px;
  bottom: -3px;
}

.door-face-0 {
  transform: translateZ(-12px);
}

.door-face-1 {
  transform: translateZ(0);
}

.door-face-2 {
  height: 6px;
  left: -3px;
  right: -3px;
  top: 0;
  transform: translate3D(0, -7.5px, -6px) rotateX(90deg);
}

.door-face-3 {
  width: 6px;
  top: -3px;
  right: 0;
  bottom: -3px;
  transform: translate3D(7.5px, 0, -6px) rotateY(90deg);
}

/*光线*/
.light {
  left: 0;
  top: 0;
  bottom: 0;
  background: #F7E08F;
  width: 1000px;
  transform: translateZ(-13px);
}

/*门牌*/
.door-card {
  width: 165px;
  height: 60px;
  line-height: 60px;
  background-color: #c1d0ec;
  top: 60px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 30px;
  border: 3px solid;
  border-radius: 2px;
}

.door-btn {
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 240px;
  font-size: 1rem;
  color: #8d8e8f;
  line-height: 36px;
}

.door-btn .yindao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid white;
  animation: yindao 1s infinite;
}

.door-btn .yindao1 {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: white;
}

.door-btn p {
  margin-top: 40px;
}

.door-in {
  width: 104px;
  height: 40px;
  border-radius: 40px;
  border: 2px solid;
  line-height: 40px;
  background-color: #eacc86;
  font-family: inherit;
  font-size: 24px;
  padding: 0;
  margin: 10px 0;
}

.room {
  background: pink;
}

/* 动画 */
@keyframes flyIntoRoom {
  from {
    transform: scale(1) translateZ(0);
    opacity: 1;
  }

  to {
    transform: scale(2) translateZ(100px);
    opacity: 0;
  }
}

@keyframes yindao {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 50%;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.room-img {
  position: absolute;
  width: 375px;
  max-width: 100%;
  left: 0;
  right: 0;
  top: 40px;
  margin: auto;
}
</style>