<script setup>
import html2canvas from 'html2canvas'
import { ref, onMounted, onUnmounted } from 'vue'

let imgUrl = ''
let tm = null
const creatGivePoster = ref(null)
const posterImg = ref(null)
// 生成海报
const getPoster = () => {
  let shareContent = creatGivePoster.value //需要截图的包裹的（原生的）DOM 对象
  let width = 720 //获取dom 宽度
  let height = 1336 //获取dom 高度
  let canvas = document.createElement('canvas') //创建一个canvas节点
  let scale = 1 //定义任意放大倍数 支持小数
  canvas.width = width * scale //定义canvas 宽度 * 缩放
  canvas.height = height * scale //定义canvas高度 *缩放
  canvas.getContext('2d').scale(scale, scale) //获取context,设置scale
  let opts = {
    scale: scale, // 添加的scale 参数
    canvas: canvas, //自定义 canvas
    logging: true, //日志开关，便于查看html2canvas的内部执行流程
    width: width, //dom 原始宽度
    height: height,
    useCORS: true, // 【重要】开启跨域配置
    backgroundColor: null
  }

  html2canvas(shareContent, opts).then(canvas => {
    var context = canvas.getContext('2d')
    // 【重要】关闭抗锯齿
    context.mozImageSmoothingEnabled = false
    context.webkitImageSmoothingEnabled = false
    context.msImageSmoothingEnabled = false
    context.imageSmoothingEnabled = false

    // 【重要】默认转化的格式为png,也可设置为其他格式
    imgUrl = canvas.toDataURL('image/png')
    posterImg.value.src = imgUrl
    console.log('生成海报')
  })
}

/*
onMounted(() => {
  tm = setInterval(() => {
    getPoster()
  }, 500)
})

onUnmounted(()=>{
	if(tm) clearInterval(tm)
});
*/
</script>

<template>
  <div class="posters-container">
    <div class="btn"><button @click="getPoster">生成海报</button></div>
    <!-- 要生成海报的-->
    <div class="creat-give-poster" ref="creatGivePoster">
      <p class="player-bottom-panel-title">赠送成功</p>
      <p class="player-bottom-panel-tip center">快扫码支持</p>
      <img src="//qiniu.wallleap.cn/images/posterbg.jpg" alt="背景" />
    </div>

    <!-- 生成海报的-->
    <div class="share-give-poster">
      <img class="poster-img" :src="imgUrl" ref="posterImg">
    </div>
  </div>
</template>

<style>
.posters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.btn {
  margin-top: 20px;
}

.creat-give-poster {
  margin: 40px 32px;
  display: none;
}

.creat-give-poster img {
  width: 100%;
}

.share-give-poster {
  margin: 40px 32px;
}

.share-give-poster img {
  width: 200px;
}
</style>