@import "./base.css";

#app {
  max-width: 1024px;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

html, body, #app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

@media (min-width: 1024px) {
  #app {
    display: none;
  }
  body::after {
    content: '请到手机上查看';
    display: block;
    margin: 0 auto;
    font-size: 42px;
  }
}
